.App {
  text-align: center;
}

.App-logo {
  margin: auto auto;
  animation: App-logo-spin infinite 20s linear;
  align-items: center;
  height: 60vh;
  width: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {

  font-size: large;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.news-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.iron-image__container {

  height: 300px;
  width: 500px;


  background-size: 100% 100%;
}

.iron-image {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 300px;
  width: 500px;

  opacity: 0;

  transition: opacity 1s ease;
}

.iron-image--fade-in {
  opacity: 1;
}
button.infoButton {
  color: white;
}
